/*
  img {
    transition: width 800ms ease;
    -moz-transition: width 800ms ease;
    -webkit-transition: width 800ms ease;
    &:hover {
      width: 500px;
      transition: width 800ms ease;
      -moz-transition: width 800ms ease;
      -webkit-transition: width 800ms ease;
    }
  }
  */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}
/*
* Fade
*/
.fade {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.fade img {
  display: block;
}
.fade:hover .wrap-fade {
  opacity: 1;
  visibility: visible;
}
.fade:hover .wrap-fade .fade-animation {
  visibility: visible;
}
.fade:hover .wrap-fade .fade-from-left {
  left: 0px;
}
.fade:hover .wrap-fade .fade-from-right {
  right: 0px;
}
.fade:hover .fade-overlay {
  background: #74c9be;
  opacity: 0.6;
  visibility: visible;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  color: #ffffff;
}
.fade .wrap-fade {
  transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  color: #ffffff;
  visibility: hidden;
  z-index: 1;
}
.fade .wrap-fade .fade-animation {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  visibility: hidden;
}
.fade .wrap-fade .fade-from-left {
  position: relative;
  left: -100%;
}
.fade .wrap-fade .fade-from-right {
  position: relative;
  right: -100%;
}
.fade .fade-overlay {
  transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  overflow: hidden;
  opacity: 0;
}
/*
* stroke
*/
.stroke {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  text-decoration: none;
}
.stroke img {
  display: block;
}
.stroke:hover .wrap-stroke {
  opacity: 1;
}
.stroke:hover .wrap-stroke .stroke-from-right {
  right: 0;
}
.stroke:hover .wrap-stroke .stroke-from-left {
  left: 0;
}
.stroke:hover .wrap-stroke .stroke-animation {
  visibility: visible;
}
.stroke:hover .stroke-overlay-top {
  top: 0px;
}
.stroke:hover .stroke-overlay-bottom {
  bottom: 0px;
}
.stroke .stroke-overlay-top {
  width: 50%;
  height: 100%;
  top: -100%;
  position: absolute;
  left: 0;
  background-color: black;
  opacity: 0.8;
}
.stroke .stroke-overlay-bottom {
  width: 50%;
  height: 100%;
  bottom: -100%;
  position: absolute;
  right: 0;
  background-color: black;
  opacity: 0.8;
}
.stroke .wrap-stroke {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #ffffff;
}
.stroke .wrap-stroke .stroke-from-right {
  position: relative;
  right: -100%;
}
.stroke .wrap-stroke .stroke-from-left {
  position: relative;
  left: -100%;
}
.stroke .wrap-stroke .stroke-animation {
  visibility: hidden;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
